<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Mario.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Mario.Properties.Settings>
            <setting name="gravitation" serializeAs="String">
                <value>-3</value>
            </setting>
            <setting name="fps" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="heightOfJump" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="speedOfJump" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="mobPriority" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="groundPriority" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="standardMoveSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="standardPlayerSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="standardSizeOfUnit" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="playerPriority" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="standardSizeOfPlayer" serializeAs="String">
                <value>38</value>
            </setting>
            <setting name="coinSize" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="mapsPath" serializeAs="String">
                <value>../../Levels</value>
            </setting>
        </Mario.Properties.Settings>
    </userSettings>
</configuration>
